*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: 'Courier New', serif;
  font-size: 20px;
  line-height: 1.5;
  background: url(Background.png) no-repeat fixed 50%;
  background-size: cover;
  padding: 0;
  margin: 0;
}
h1, h2{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
}
p, h1, a, li, ul, h2, h3{
  color: white;
}
section h1, header h2 {
  text-transform: uppercase;
}
header h1 {
  font-family: "Montserrat", Georgia, cursive;
  font-size: 80px;
}
header h2, section h1 {
  font-size: 32px;
}
section h1 {
  margin-bottom: 20px;
}
section:nth-child(2n+1) { 
  background: #1e1e1e;
}
section:nth-child(2n+2) {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
a{
  color: #a5a5a5;
}
a:hover {
  color: #5a5a5a;
  border-bottom: 2px solid #5a5a5a;
}
ul {
  padding-left: 20px;
  list-style-type: circle;
}
ul li {
  margin-bottom: 5px;
}
.content-wrap {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 90px 0; 
  overflow: auto;
}
header {
  text-align: center;
  color: white;
  height: 100vh;
}
header div{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.profile h1 {
  background: #1e1e1e;
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
}
.profile .summary {
  float: left;
  width: 70%;
  padding-left: 10px;
}
.profile-image {
  float: left;
  width: 27%;
  margin-right: 3%;
  padding: 4px;
  border: 3px solid white;
  border-radius: 50%;
}
.item {
  overflow: hidden;
  border-bottom: 1px solid #a5a5a5;
  padding: 20px 0;
}
.item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.skills-divs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 8%;
}
.call-to-action{
  text-align: center;
  padding: 50px;
}
button{
  background-color:transparent;
	border:3px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-size:24px;
  font-family: 'Montserrat';
	padding: 20px 30px;
  text-align: center;
  margin: 15px 15px;
}
button:hover{
  background-color: #252525;
}
.experience .how {
  margin: 5px 0 20px 0;
  font-size: 20px;
  color: white;
}
.experience h3 {
  line-height: 1.25;
  font-size: 24px;
}
.experience .details {
  float: left;
  width: 30%;
  padding-right: 30px;
}
.experience .description {
  font-size: 20px;
  width: 70%;
  float: right;
  margin-top: 5px;
}
.experience .description p:first-child {
  margin-top: 3px;
}
.tech {
  font-family: "Montserrat", Georgia, cursive;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: white;
}
.education h2 {
  text-transform: uppercase;
}
.education h3 {
  color: #1e1e1e;
}
.contact {
  background: #1e1e1e;
}
.contact p {
  margin: 0;
}
footer {
  clear: both;
  font-size: 12px;
  margin: 0;
}
.copyright{
  font-size: 18px;
  margin: 0;
}
#longboi {
  margin-top: 5px;
  filter: greyscale(100%);
}
.padding{
  padding: 50px 90px;
}
.tiny{
  font-size: 18px;
  margin: 8px;
}
.chill:hover{
  border-bottom: none;
}
.custom-div{
  border-bottom: 1px solid white;
}
input[type=text], textarea{
  width: 50%;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px;
  padding-right: 20px;
  color: white;
  margin: 10px;
  margin-left: 0px;
}
textarea{
  padding: 50px;
}
input[type=submit]{
  background-color: transparent;
  border: 1px solid white;
  font-size: 20px;
  color: white;
  font-family: 'Courier New';
  margin-top: 10px;
  padding: 10px 20px;
}
@font-face {
  font-family: icons;
  src: url(Icons.otf);
}
.socials a{
  font-family: Icons;
  font-size: 60px;
  margin-bottom: 0;
  text-decoration: none;
}
@media (max-width: 800px) {
  .profile-image {
    width: 48%;
    float:none;
    margin: 0 0 15px 2%;
  }
  .profile-wrapper{
    text-align: center;
  }
.profile .summary {
  width: auto;
  float: none;
}
.experience .details {
  float: none;
  width: 100%;
  padding-right: 0px;
}
.experience .description {
  width: 100%;
  float: none;
}
.grid-gallery{
  grid-template-columns: repeat(2, 1fr);
}
.skills-divs{
    grid-template-columns: 1fr 1fr;
}
}
@media (max-width: 600px) {
header {
  padding: 75px 40px;
} 
header h1 {
  font-size: 45px;
}
header h2,
section h1 {
  font-size: 24px;
}
.education h2 {
  font-size: 18px;
}
.contact .social {
  width: 100%; 
  float: left; 
  text-align: left; 
  margin-bottom: 20px;
}
.profile-wrapper{
  text-align: center;
}
.grid-gallery{
  grid-template-columns: 1fr;
}
.skills-divs{
    grid-template-columns: 1fr;
}
}
::selection{
  background: #1e1e1e;
  color: white;
}