<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kewbish // Developer</title>
    <meta name="description" content="About Kewbish. Excited to build, develop, and create.">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>

<body>
    <section class="me">
        <p><a href="../">&lt; go back</a></p>
        <h1>Hey - it's Kewbish.</h1>
        <div class="grid-two">
            {{ with $.Site.Data.me.About }}
                <div class="grid-two-spread">
                    <p>{{ .Bio }}</p>
                    <p>See my <a href="../Resume.pdf">resume</a>, <a href="https://kewbish.github.io/blog">blog</a>, or <a
                            href="../folio">projects</a>.</p>
                    <p>Or see <a href="#about-education">where I'm studying</a>, <a href="#about-exp">where I volunteer</a>,
                        or <a href="#about-skills">my skills</a>.</p>
                </div>
                <p>📍 Located in: {{ .Location }}<br>🤝 Volunteering: <a href="{{ .Volunteering.Link }}">{{ .Volunteering.Text }}</a><br>📧 Email me: <a href="mailto:kewbish@gmail.com">kewbish@gmail.com</a><br>⚙️ Working
                    on: <a href="{{ .Currently.Link }}">{{ .Currently.Text }}</a></p>
            {{ end }}
        </div>
        <div id="about-exp">
            <h2>Contributing and volunteering experience.</h2>
            <div class="grid-two">
                {{ range $.Site.Data.me.Experience }}
                    <div class="grid-two-element">
                        <p><strong>{{ .Position }}</strong><br><em>{{ .Date }}</em><br>{{ .Description | markdownify }}</p>
                    </div>
                {{ end }}
            </div>
        </div>
        <div id="about-education">
            {{ with $.Site.Data.me.Education }}
                <h2>Currently studying at the {{ .Name }}</h2>
                <p>{{ .Bio }}</p>
                <p>There, I:</p>
                <ul>
                    {{ range .Activities }}
                        <li>{{ .Text }}</li>
                    {{ end }}
                </ul>
            {{ end }}
        </div>
        </div>
        <div id="about-skills">
            <h2>I'm a constant learner.</h2>
            <div class="grid">
                {{ range $.Site.Data.me.Skills }}
                    <p class="grid-element"><strong>{{ .Title }}</strong> - {{ .Desc | markdownify }}</p>
                {{ end }}
            </div>
        </div>
        <div>
            <p><br>See this page in a <a href="../Resume.pdf">resume format</a>. Otherwise, see my <a
                    href="../projects">projects.</a></p>
        </div>
        <div id="about-contact">
            <h2>Let's get in touch.</h2>
            <form action="https://formspree.io/mnqgqgyv" method="post">
                <input type="text" name="name" placeholder="📛 Your name">
                <input type="email" name="email" placeholder="📧 Your email">
                <textarea name="message" cols="30" rows="10"
                    placeholder="💼 What do you want to work on together?"></textarea>
                <button type="submit">Submit.</button>
            </form>
        </div>
</body>

</html>