<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kewbish // Developer</title>
    <meta name="description" content="Hi, I'm Kewbish, a student software developer. Excited to build, develop, and create.">
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" href="css/main.css">
    <meta name="google-site-verification" content="nCqg0YzSxnpcnoFKQq8A2VJCpuSBSdJpKefPxK8AWbA" />
</head>

<body>
    <section class="hero">
        <h1 class="hero-heading">Kewbish</h1>
        <div class="hero-body">
            <p><em>also known as Emilie Ma</em></p>
            <p><a href="me.html">about me</a> - <a href="folio.html">my work</a> - <a href="https://kewbish.github.io/blog">my blog</a></p>
        </div>
    </section>
</body>

</html>