*{
    margin: 0;
    padding: 0;
}
:root{
    --background-color: #1e1e1e;
    --header-color: #000000;
    --text-color: #ffffff;
    --accent-color: #ffab3d;
    --grid-columns: 1fr 1fr 1fr;
    --font-one: "Consolas", "Courier New", monospace;
    --font-two: "Source Sans Pro", sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-one);
    font-size: 1.2em;
}
section{
    padding: 8%;
}
h1, h2{
    font-family: var(--font-two);
    font-size: 3.5em;
    padding-bottom: 2%;
}
h2{
    font-size: 2em;
    padding: 2.5% 0;
}
p{
    margin: 0.2% 0;
    padding: 0.2% 0;
}
ul{
    list-style-position: inside;
}
li{
    margin: 1% 0;
}
a{
    color: var(--text-color);
    text-decoration: underline var(--accent-color);
}
a:hover{
    color: var(--accent-color);
    transition: 0.3s;
}
.hero{
    text-align: center;
    margin: 0 auto;
    height: 90vh;
    padding: 0;
}
.hero div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 2%;
}
.hero-heading{
    font-size: 10vw;
    margin: -1vw 0;
    padding: 0;
}
.grid{
    display: grid;
    grid-template-columns: var(--grid-columns);
}
.grid-two{
    display: grid;
    grid-template-columns: 7fr 4fr;
}