/* general basics  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --main-colour: #1E1E1E;
    --sub-colour: #323232;
    --accent-colour: #FF9D1D;
    --accent-two: #FFC06C;
    --grid-columns: 5fr 1fr 5fr;
}
* {
    margin: 0;
    padding: 0;
}
::selection {
    background-color: var(--accent-colour);
}
html {
    background-color: var(--main-colour);
    color: white;
    font-family: Montserrat, sans-serif;
}
svg {
    fill: var(--accent-two);
}
p {
    font-size: 1.2em;
}
a {
    color: white;
}
a:hover {
    color: var(--accent-colour);
    transition: 0.5s;
}
/* grid  */
.grid {
    display: grid;
    grid-template-columns: var(--grid-columns);
    column-gap: 1em;
    row-gap: 1.5em;
}
.grid-element {
    background-color: var(--accent-two);
    padding: 2.5% 3.5%;
}
.grid-element:nth-child(4n+2) {
    grid-column: 2 / span 2;
}
.grid-element:nth-child(4n+3) {
    grid-column: 1 / span 2;
}
.grid-element:nth-last-child(1):nth-child(odd) {
    grid-column: 1 / span 3;
}
/* index page  */
.index {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden hidden;
    background: url("../Back.svg") center no-repeat;
    background-size: cover;
    background-position: 0% 47%;
    height: 100vh;
    width: 100vw;
}
.index-main {
    width: 60%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    margin: auto;
}
#salutation {
    font-size: 1.5em;
}
.title {
    font-size: 7.5em;
    font-weight: 700;
    margin-left: -1%; 
}
.index-main table { width: min(18%, 150px);
    border-spacing: 7px;
    margin-top: 1.5%;
    margin-left: -1%;
}
#main_blob {
    transform: rotateZ(-70deg);
    position: absolute;
    right: -25em;
    top: -5em;
    width: 60%;
    z-index: -1;
}
#blob {
    transform: rotateZ(14deg);
    position: absolute;
    left: -10em;
    bottom: -10em;
    width: 30%;
    z-index: -1;
}
/* me */
/* mobile  */
@media only screen and (max-width: 768px) {
    .index {
        overflow: hidden scroll;
    }
    .index-main-copy {
        max-width: 80%;
    }
}
