<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kewbish // Emilie - Developer</title>
    <meta name="description" content="Kewbish's projects and portfolio. Excited to build, develop, and create.">
    <meta property="og:title" content="Kewbish // Emilie - Developer">
    <meta property="og:description" content="Kewbish's projects. Excited to build, develop, and create.">
    <meta property="og:image" content="https://i.imgur.com/QxvZ9Tv.png">
    <meta property="og:url" content="https://kewbi.sh/folio/">
    <meta property="twitter:title" content="Kewbish // Emilie - Developer">
    <meta property="twitter:description" content="Kewbish's projects. Excited to build, develop, and create.">
    <meta property="twitter:image" content="https://i.imgur.com/QxvZ9Tv.png">
    <link rel="stylesheet" href="{{ .Site.Params.cssLink }}">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789" rel="stylesheet">
</head>

<body class="cont page">
    <div class="main">
        <a href="../">
            <p>&lt; go back</p>       
        </a>
        <h1 class="subtitle">My projects.</h1>
        <p>Interested in working together? <a href="../me#contact">Get in touch</a>.</p>
        <p style="margin-bottom: 2%;">You might also want to read <a href="../me">about me</a>, <a href="../Resume.pdf">my résumé</a>, or <a href="../blog">more about my projects</a>.</p>
        <div class="folio-projects grid" style="margin: 2.5% 0;">
            {{ range $.Site.Data.projects.Projects }}
            <div class="grid-element">
                <p><strong>{{ .Title }}</strong></p>
                <p>{{ .Description }}</p>
                {{ if .Link }}
                <p><a href="{{ .Github }}" target="_blank">Source</a> // <a href="{{ .Link }}" target="_blank">Link</a>.</p>
                {{ else }}
                <p><a href="{{ .Github }}" target="_blank">Source</a></p>
                {{ end }}
            </div>
            {{ end }}
        </div>
        <h2 class="sub-2">I use:</h2>
        <div class="grid-element">
            {{ with $.Site.Data.projects.Uses }}
            <p>
                {{ delimit .Languages " // " | markdownify }}
            </p>
            {{ end }}
        </div>
    </div>
</body>

</html>
