<!doctypehtml>
<html lang=en>
<meta charset=UTF-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>About Emilie // Kewbish</title>
<meta name=description content="About Emilie Ma (Kewbish) — professional and academic experiences.">
<meta property=og:title content="About Emilie // Kewbish">
<meta property=og:description content="About Emilie Ma (Kewbish) — professional and academic experiences.">
<meta property=og:url content=https://kewbi.sh/about/>
<meta property=twitter:title content="About Emilie // Kewbish">
<meta property=twitter:description content="About Emilie Ma (Kewbish) — professional and academic experiences.">
<meta name=robots content="index, follow">
<meta name=google-site-verification content=nCqg0YzSxnpcnoFKQq8A2VJCpuSBSdJpKefPxK8AWbA>
<link rel=icon href=/small-logo.png>
<link rel=preload as=text/woff2 href=/fonts/playfair-display-v30-latin-italic.woff2>
<link rel=preload as=text/woff2 href=/fonts/playfair-display-v30-latin-700.woff2>
<link rel=preload as=text/woff2 href=/fonts/source-sans-3-v8-latin-regular.woff2>
<link rel=stylesheet href="{{ .Site.Params.cssLink }}">

<body class="page page-padding">
	<main class=main><a href=../>
		<p>‹ go back</p>
		</a>
		<h1 class=display-title>Hi! I'm Emilie.</h1>
		<div class=me-intro>
			<p class=mt-1>You probably know me as Kewbish. I'm a software engineer and student, especially passionate about distributed systems, the web, and human-computer interaction. In my research, I've explored areas like distributed systems security, formal verification, network theory, and software engineering. I've also dabbled in tools for thought and niche Web protocol proposals.
				<p class=mt-1>See my <a href=../Resume.pdf>resume</a>, <a href=../blog>blog</a>, <a href=../portfolio>projects</a>, or <a href=../portfolio#talks>talks</a>.</div>
		<h2 class=mt-2>Experience and Awards.</h2>
        <input type="radio" id="all" name="categories" value="All" checked>
        <input type="radio" id="industry" name="categories" value="Industry">
        <input type="radio" id="research" name="categories" value="Research">
        <input type="radio" id="awards" name="categories" value="Awards">
        <input type="radio" id="older" name="categories" value="Older">
        <div class="me-exp-filters">
            <label for="all">All</label>
            <label for="industry">Industry</label>
            <label for="research">Research</label>
            <label for="awards">Awards</label>
            <label for="older">Older</label>
        </div>
		<div class=me-experience>{{ range $.Site.Data.me.Experience }}
            <div class="grid-element me-el me-exp-el" data-category="{{ delimit .Tags " " }}">
				<p><strong>{{ .Position }}</strong></p>{{with .Date}}
				<p><em>{{ . }}</em></p>{{end}}
				<p class=mt-1>{{ .Description | markdownify }}</div>{{ end }}</div>
		<br>{{ with .Site.Data.me.Education }}
		<h2>Education.</h2>
		<div class="me-education grid-element mt-1">
			<p>{{ .Bio | safeHTML }}</p>{{ if isset . "Activities" }}
			<p class=mt-1>There, I:
				<ul class=no-sparkles>{{ range .Activities }}
					<li>{{ .Text | safeHTML }}</li>{{ end }}</ul>{{ end }}</div>{{ end }}
		<br>
		<div class="me-contact mt-2" id=contact>
			<h2 class=mt-1>Get in touch.</h2>
			<form action=https://formspree.io/mnqgqgyv method=post>
				<input type=text name=name placeholder="Your name" aria-label=Name autocomplete=on required>
				<input type=email name=email placeholder="📧 Your email" aria-label="Email address" autocomplete=on required>
				<textarea name=message cols=30 rows=10 placeholder="Let's chat!" aria-label=Message autocomplete=off required></textarea>
				<button type=submit aria-label="Submit message">Send</button>
			</form>
		</div>
	</main>
	<script data-goatcounter="https://kewbish.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
